<%= form_with(model: pakistan, local: true) do |form| %>
  <% if pakistan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pakistan.errors.count, "error") %> prohibited this pakistan from being saved:</h2>

      <ul>
      <% pakistan.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
